@media screen and (min-width:768px) {
    .create .art{
        font-size: 3rem !important;
    }
    .create .about-detail{
        font-size:1.2rem !important;
    }

}


@media screen and (max-width:767px){
.bg-dark .words {
    margin-top: -15rem;
    padding: 3rem;
    padding-left: 1rem;
}
.bg-dark .readMore {
    font-size: 0.8rem;
    width: 6rem;
    margin-top: 1rem;
}

 .words .hello{
     font-size: 1.2rem;
}
.create .art,.lorem .pru{
    font-size: 2rem;
    margin-top: 2rem;
}
div#firstmain {order: 1;}
div#secondmain {order: 2;}
    
}





/* main css */

.caro{
    height: 100vh !important;
    min-height: 350px !important;
    width: 100%;
    background: no-repeat center center scroll;
    -webkit-background-size: cover !important;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
  }
  .img-caro{
      height: 100vh !important;
  }



.readMore{
    border:1px solid #5a0707 ;
    margin-top: 5rem;
    color: white;
    width: 10rem;
    box-shadow: 0 0 20px 4px red;
    font-size: 1.3rem;
}
.words{
    margin-top: 5rem;
    /* font-family: Tahoma, Geneva, Verdana,; */
    font-family: 'Oswald', ;
    padding: 6rem;
    position: relative;
    text-transform: uppercase;
    animation-duration: 4s;
    animation-name: dekho;
    font-weight: bolder;
    color: #5a0707;
    
    
}
.words .hello{
    font-weight: bolder;
}
.words h1{
    font-size: 4rem;
}


@keyframes dekho {
    0% {color: white; right: -815px; top: 0px;}
    40% {color:#5a0707;}

    50% {color: #5a0707; right: 0px; top: 0px;}
}

.lorem .about-detail{
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 4rem;
    color: white;
}
.create .art{
    margin-top: 5rem;
    /* margin-left: 42%; */
    font-size: 5rem;
    text-align: center;
    margin-bottom: 4rem;
    color: #5a0707;
    font-weight: bolder;
    box-shadow: 0px 9px 20px 0px #a91717;
}
.create{
    background-color: #111517 !important;
}
/*/* navbar custom styiling strt  */
.navbar-brand, .nav-link{
    color: #5a0707 !important;
    font-weight: bold;
    font-size: 2rem !important;
}
/* navbar custom styiling end */
.for-img{
    background-image: url(images/drone.jpeg);
    
}
div#first {order: 1;}
div#second {order: 2;}
   
.work .work-detail .comm{
    font-weight: bolder;
    color:#5a0707 ;
}
#comm{
    font-weight: bolder;
    color:#5a0707 ;
}

.recent{
    box-shadow: 0px 3px 20px 10px black;

}
.black-btn{
    margin-top: 2rem;
    font-weight: bolder;
    box-shadow: 0px 1px 20px 13px black;
}
.para{
    font-weight: 500;
}
.create .fine{
    margin-top: 4rem;
    font-weight: bolder;
    color:#5a0707 ;

}
.for-hr{
    color: #f30000;
    border: 1px solid;

}
.round{
    margin:auto;
    border-radius:100%;
}
.comment p{
    background-color: black;
    font-size: 1.5rem;
    color: white;
}

.footer{
    text-align: center;
    font-weight: bolder;
    font-size: 1.3rem;
    color: white ;
}
.footer ul li:hover{
    color:#5a0707 ;
}


.tilt-in-fwd-tr {
	-webkit-animation: tilt-in-fwd-tr 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-fwd-tr 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 /* ----------------------------------------------
 * Generated by Animista on 2020-1-9 17:32:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tilt-in-fwd-tr
 * ----------------------------------------
 */
@-webkit-keyframes tilt-in-fwd-tr {
    0% {
      -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
              transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
              transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    }
  }
  @keyframes tilt-in-fwd-tr {
    0% {
      -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
              transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
              transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    }
  }
  
  /*recent works  */
  .flipper {
    transition: all 0.6s;
    animation: flip 2.5s ;
    transform-style: preserve-3d;
  }
  @keyframes flip {

    75% {
      transform: rotateX(360deg);
    }
  }
  /* redent works end */
